body{
  margin: 0%;
  background-color: #ffce76;
}

header{
  background-color: #c72c41;
  color: #ffce76;
  height: 250px
}

h1{
  margin: -150px 0% 30px 40%  
}

header nav{
  float: right;
  width: 30%;
  margin: -100px 0% 10px 40%  
}

hreader div{
 float: left;
}

hearder div li li a{
  display: inline-block;
}

#first p{
 color: #c72c41;
 margin: -240px 5% 10px 40% 
}

#first guiter{
  float: left;

}
#first div{
 height: 300px;
}

#secand{
  background-color: #c72c41;
  color: #ffce76;
  margin: 30px 5% 30px 5%;
  padding: 3%;
}

#theerd div{
 height: 200px;
}

#theerd img{
 float: right; 
 margin: 110px 0% 10px 40%
}

#theerd .imgp{
 margin-left: 300px;
} 

#theerd p{
 color: #c72c41;
 margin: 50px 40% -240px 5%
}


footer{
  height: 250px;
  margin: -150px 0% 30px 40%  
}

